.chat-window {
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    height: calc(100% - 60px); /* Adjust the height if UserInput has different height */
    position: relative;
  }
  
  .bot-logo {
    max-width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Space between logo and text */
  }
  
  .chat-placeholder {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 80%;
    width: 90%;
    text-align: center;
  }  